<% include ../partials/header %>
<section>
      <form action="/books/<%= book.id %>" method="post" novalidate>
         
                 
                  <input type="hidden" value="<%= book.id %>" name="id">
                    
              <div class="form-style-6">
                <h1>Book Information</h1>
                <form>
                    <label for="title">Title</label>
                    <br>
                    <input type="text"  id="title" name="title" placeholder="Book Title" required value="<%= book.title %>">
                    <label for="author">Author</label>
                    <br>
                    <input type="text"  id="author" name="author" placeholder="Author Name" required value="<%= book.author %>">
                    <label for="price">Price</label>
                    <br>
                    <input type="number"  id="price" name="price" placeholder="$ 2.11" step="0.01" min="0" required value="<%= book.price %>">

                    <label for="choosefile">Choose File</label>
                    <br>
                    <input type="file" class="form-control-file" id="choosefile">
                    <br>

                    <label for="year">Year</label>
                    <br>
                    <input type="number"  id="year" name="year" placeholder="2001" step="001" min="0" required value="<%= book.year %>">

                    <input type="submit" value="Update" />

                </form>
            </div>
           
          </form>
</section>
<% include ../partials/footer %>